ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #302e2e;
  display: flex;
  justify-content: center;
}

ul li a {
  display: block;
  color: rgb(196, 196, 196);
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #a54f4f;
}   

p, footer, article, h1{

    text-align:center;
    color:rgb(196, 196, 196)
}

p{
    font-family: "Noto sans",sans-serif;
}
/* background colour for h1*/ 
body {
  background-color: rgb(104, 17, 17);
  color: white;
}